body 
{
	background:url("sources/images/background.png");
	background-color: #7F0606
}
*{margin: 0; padding:0;}
#banner_img
{
	z-index:12;
	margin-top: 5px;
	width: 100%;
	border-bottom: 3px solid #7F0606;
}
*{margin: 0; padding:0;}
#body_menu
{
	padding-bottom: 5px;
	padding-top: 5px;
	color: white;
	font-family: arial;
	font-size:0.8vw;
	border
	z-index:1;
	position: relative;
	margin-left: 80%;
	margin-top: -23.3%;
	width :5%;
	background-color: black;
	border: 1px solid #7F0606;
	text-align:center;
	border-radius
}
#body_menu:hover
{
	width:20%;
	margin-left: 72.5%;
}
#body_menu:hover #scroll_menu 
{
	display:block;
	text-align:left;
}
#body_menu:hover #core
{
	margin-top: 1%;
}
#connexion
{
	z-index:1;
	display:inline-block;
}
#scroll_menu
{
	padding-top: 5px;
	display: none;
}
table
{
	color:white;
}
#new_account_link
{
	padding-top: 5px;
	color:#928F8F;
	padding-left: 25%;
	display: inline-block;
	font-size: 0.9vmin;
}
#new_account_link a:link, #new_account_link a:visited
{
	color:#928F8F;
}
#core
{
	top: 27.3%;
	left: 16.35%;
	background-color: #2E0000;
	z-index:11;
	position:absolute;
	width : 67%;
	height:80%;
	border: 2px solid #7F0606;
}
#sort_by_menu
{
	background-color: white;
	width: 15%;
	margin-top: 1%;
	margin-left: 82.5%;
}
.content
{
	display:inline-block;
	background-color: #7F0606;
	margin-left: 2.15%;
	margin-top: 2%;
	border: 1px solid #C2BDBD;
	position:relative;
	width: 30%;
	height: 25%;
	z-index:1;
}